In [1]:
%matplotlib inline  # ipython magic command

import pandas as pd  # for tabular processing
import numpy as np  # for numeric processing

import matplotlib.pyplot as plt  # for plotting

## create

In [4]:
data = [{'mouse': 'SOM-cre-0323', 'weight':23.3, 'date': '2019-03-21'}, 
        {'mouse': 'SOM-cre-0323', 'weight':23.3, 'date': '2019-03-22'}, 
        {'mouse': 'SOM-cre-0323', 'weight':23.3, 'date': '2019-03-23'}]

df = pd.DataFrame(data)
df.head()

         date         mouse  weight
0  2019-03-21  SOM-cre-0323    23.3
1  2019-03-22  SOM-cre-0323    23.3
2  2019-03-23  SOM-cre-0323    23.3

In [ ]:
df.to_csv('demo.csv', index=False)  # export tabular data to csv file.

## read in

In [ ]:
# import data and preview
sheet = pd.read_csv("./Titanic.csv")

sheet.head(5)

In [ ]:
# an overview

## histogram
# sheet.Age.hist()

## check unique values
# sheet.Pclass.unique()

In [ ]:
# filtering or querying

subsheet = sheet[]
subsheet.head()

In [ ]:
# grouping (cf. R)

_group = sheet.groupby('Pclass')
_group.mean()

In [ ]:
# selecting specific row using local index
subsheet.iloc[0]

# selecting specific row using original index
subsheet.loc[498]

In [ ]:
# get specific value
sheet.Name[4]
sheet['Name'][4]